html {
    height: 100%;
}
body {
    min-height: 100%;
    margin: 0;
    padding: 0;
}
/* ALL */
.btn.btn-orange {
  background-color: rgb(235,105,9);
  color: #FFFFFF;
}

.btn.btn-orange:hover {
  background-color: rgba(235,105,9,0.80);
}

.btn-big {
  margin: 30px 0 0 0;
  padding: 10px 50px;
  font-size: 200%;
}

.footer-handler {
    padding-bottom: 100px;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

.well {
    margin-bottom: 80px;
}
/* ALL end */

/* HEAD - NAVBAR */
.head-section .nav li a span {
  color: rgb(235,105,9);
}

.head-section .nav li a:hover span {
  color: #fff;
}
/* end HEAD - NAVBAR */

/* FOOTER */
.legal {
  color: #fff;
  padding-top: 15px;
}

.legal a {
  color: #fff;
}
.legal a:hover {
    text-decoration: underline;
}
/* end FOOTER */

/* HOME */
.upload_block_home {
  padding-bottom: 50px;
  text-align: center;
}

.upload_block_home h3 {
    text-align: center;
    margin-top: 50px;
    font-weight: 400;
    padding-bottom: 5px;
    margin-bottom: 20px;
}

.infos_block_home  {
  padding-top: 50px;
  padding-bottom: 50px;
}

.infos_block_home .col_img {
  padding-top: 30px;
}

.infos_block_home img {
  display: block;
  height: 240px;
  width: auto;
  margin-left: auto;
  margin-right: auto;
}

.infos_block_home p{
  text-align: justify;
}
.newsletter_block_home {
  padding: 20px;
  text-align: center;
  height: 153px;
}

.newsletter_block_home h4 {
  padding-right: 10px;
}
/* HOME end */

/* MYMODELS */
.filter {
    padding: 10px;
    margin-bottom: 20px;
    background-color: #F8f8f8;
    border-color: #e5e5e5 #eee #eee;
    border-style: solid;
    border-width: 1px 1px;
}
/* end MYMODELS*/

/* UPLOAD MODEL */
.upload-model-infos {
    margin-top: 30px;
    border-top: 1px solid #C5C5C5;
}
/* end UPLOADMODEL */

/* CONTACT */
.contact-message-area {
    resize: vertical;
}
/* end CONTACT */

.navbar-default .navbar-brand .orange{
    color: rgb(235,105,9);
}

.navbar-default .navbar-brand .blue{
    color: rgb(0,58,129);
}

.navbar-brand span{
    color: rgb(235,105,9)!important;
}

.modal-header{
    background: rgb(0,58,129);
}

.close{
    color: #fff;
    opacity: 1;
}


p.error{
    float: left;
    color: #FF0000 !important;
    font-size: 14px !important;
}
span.error{
    padding-left: 5px;
    color: #FF0000 !important;
    font-size: 14px !important;
}
.error-border{
    border: 1px solid red !important;
}

.margin-bottom{
    margin-bottom: 15px;
}

.footer-small {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0
}
.center{
    text-align:center;
}

#spinArea{
    height:150px;
    margin: 0 auto;
}

.btn-login {
    background: rgb(235,105,9);
    color: #fff;
    text-transform: uppercase;
    font-weight: 300;
    margin-bottom: 20px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}
.btn-login:hover {
    background: #D87E0E;
    color: #fff;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.black{
    color: black;
}
.white{
    color: #fff;
}
.radio-inline{
    padding-top: inherit !important;
}

.bd-top{
    border-top: 1px solid #ddd;
}

.caption h3{
    overflow: hidden;
    text-overflow: ellipsis;
}

/* ORDERS */
.orders-table td, th {
    vertical-align: middle !important;
}
.orders-table th, td{
    border: none !important;
}

.orders-table.sortable th:not(.sorttable_sorted):not(.sorttable_sorted_reverse):not(.sorttable_nosort):after {
    content: " \25BE"
}
.orders-table th:hover{
    cursor: pointer;
}

.pagination > .active > span{
    background-color: rgb(235,105,9);
    border-color: rgb(235,105,9);
}
.pagination > .active > span:hover{
    background-color: rgba(235,105,9,0.80);
    border-color: rgba(235,105,9,0.80);
}
/* end ORDERS */

/* EXPERTISE */
.expertise h3 {
    color: #475168;
}
/* end EXPERTISE */
/* 3DPRINT */
.paperprint h3 {
    color: #475168;
}
/* end 3DPRINT */
