a span{
    color: rgb(235,105,9);
}

a:hover span{
    color: #fff;
}
.navbar-default .navbar-brand .orange{
    color: rgb(235,105,9);
}

.navbar-default .navbar-brand .blue{
    color: rgb(0,58,129);
}

.navbar-brand span{
    color: rgb(235,105,9)!important;
}

.modal-header{
    background: rgb(0,58,129);
}

.close{
    color: #fff;
    opacity: 1;
}


.error{
    float: left;
    color: #FF0000 !important;
    font-size: 14px !important;
}
.error-border{
    border: 1px solid red !important;
}